body {
  margin-top: 0;
}
body,
div {
  align-items: center;
}

main {
  margin-inline: auto;
  max-width: 400px;
}
footer {
  margin-inline: auto;
  max-width: 400px;
}

main img {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
}
.comment {
  background-color: #fdfbf1;
}
.commento {
  color: darkgrey;
  text-align: center;
}
main div div {
  color: orange;
}
.uva {
  margin-block-start: 0;
  color: #107777;
}
video {
  width: 100%;
  border-radius: 10px;
}
header div p {
  display: flex;
  justify-content: center;
}
header div {
  text-align: center;
}
.topline {
  border-color: yellow;
  border-style: solid;
}
.bottomline {
  border-color: #e1f9f8;
  border-style: solid;
}
.freshh {
  border-left: solid;
}
